#body{
    background-color: #85929E;
}

.noidung{
    width: 100%;
    height: auto;
    
}
.menu{
    width: 100%;
    height: 200px;
    background-color: black;
    border-radius: 10px;
}
.up{
    padding-top: 10px;
    width: 100%;
    border-radius: 20px;
}
.up table tr td a{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #E8F8F5;
}
.up table tr td a{
    padding:20px;
}

.up table tr td a img{
    vertical-align: middle;
}

.up table tr td input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    color: #85929E;
}

#search{
    padding-block: auto;
    height: 25px;
    width: 100%;
    border-radius: 50px;
}

.down{
    padding-top: 10px;
}

.down table{
    padding-top: 0px;
    width: 83.5%;
}

.anh{
    width: 90%;
    border-radius: 8px;
}


.anhto {
    width: 200%;
    border-radius: 9px;
    padding-bottom: 55%;
}



.anhtron1{
    width: 88%;
    border-radius: 5px;
}


.last{
    width: 100%;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    
}

.last h2{
    padding-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    color: #85929E;
}

.last h4{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    color: #85929E;
}

.last table tr td a img{
    vertical-align: middle;
    
}

.last table tr td a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    color: #85929E;
    font-size: 13.5px;
    padding:20px;
}

.zoom{
    overflow: hidden;
    display: inline-block;
}

.zoom img{
    transition: 0.5s;
}

.zoom:hover img{
    transform: scale(1.2, 1.2);
}

.zoomig{
    overflow: hidden;
    display: inline-block;
}

.zoomig img{
    transition: 0.5s;
}

.zoomig:hover img{
    transform: scale(1.2, 1.2);
}

.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    padding-right: 30px;
    color: #EBEDEF;
}

.text2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-size: 13px;
    padding-left: 20px;
    color: #2C3E50;
}





